.container{
    width: 400px;
    height: 250px;
    background-color: royalblue;
    // margin: 10px 0;
    position: relative;
}

.item {
    width: 100px;
    height: 100px;
    background-color: orange;
    position: absolute;
    top: 0;
    bottom: 0px;
    right: 0;
    left: 0;
    margin: auto;
}